@model List<TeamCitySharp.DomainEntities.Agent>

@{
    ViewBag.Title = "Index";
}

<h2>Agents List</h2>
<ul>
    @foreach (var agent in Model)
    {
        <li>@agent.Name</li>
    }
</ul>
