<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="teamcity.jetbrains.com"/>
    <add key="UseSSL" value="true"/>
    <add key="Username" value="username"/>
    <add key="Password" value="password"/>
    <add key="Token" value="token"/>
    <add key="GoodBuildConfigId" value="YouTrackSharp_ContinuousIntegration"/>
    <add key="GoodProjectId" value="YouTrackSharp"/>
    <add key="GoodBuildId" value="1299317"/>
    <add key="GoodTemplateId" value="YouTrackSharpTemplate"/>
    <add key="GoodNumber" value=""/>
    <add key="QueuedBuildConfigId" value="bt864"/>
    <add key="QueuedProjectId" value="R2rml4net"/>  
  </appSettings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
