<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BRhodium.JsonFx" version="2.0.1209.2803" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NUnit" version="3.11.0" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
</packages>