@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the sample application</h2>
<p>Choose a link to get started:</p>
<a href="@Url.Action("Index", "Projects")">Projects</a>
<a href="@Url.Action("Index", "Users")">Users</a>
<a href="@Url.Action("Index", "Agents")">Agents</a>