<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TeamCityClientUrl" value="localhost:81"/>
    <add key="TeamCityClientUserName" value="admin"/>
    <add key="TeamCityClientPassword" value="qwerty"/>
    <add key="TeamCityAgentName" value="WIN-UMREN4TD1D7"/>
    <add key="TestBuildConfigId" value="bt2"/>
    <add key="TestBuildConfigName" value="Debug"/>
    <add key="TestProjectId" value="project2"/>
    <add key="TestProjectName" value="TeamCitySharp"/>
    <add key="TestTag" value="test"/>
    <add key="TestChangeId" value="102"/>
    <add key="TestVcsRootId" value="1"/>
  </appSettings>
</configuration>