@model List<TeamCitySharp.SampleBuildRadiator.Controllers.BuildOverView>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


    @foreach (var build in Model)
    {
        <div class="@build.LastStatus">
        <h3>@build.ProjectName</h3>
        <ul>
        <li>@build.BuildName</li>
        </ul></div>
    }